<h1>Connexion</h1>
<mat-spinner *ngIf="!isReady" class="col-md-2 col-md-offset-5 spinnerStyle"></mat-spinner>
<p *ngIf="isAuth && isReady"><em>Vous êtes déjà connecté avec le compte {{loggedJoueur.email}}</em> <br /> <button class="btn btn-danger" (click)="unLog()">
  Se déconnecter
</button> </p>

<p *ngIf="joueurNotFound"><em style="color: red">Email ou mot de passe incorrect !</em></p>

<div *ngIf="!isAuth && isReady">
  <form [formGroup]="joueurForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" class="form-control" id="Pseudo" formControlName="Email">
    </div>
    <div class="form-group">
      <label for="MotDePasse">Mot de passe</label>
      <input type="password" class="form-control" id="MotDePasse" formControlName="MotDePasse">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="joueurForm.invalid">Soumettre</button>
  </form>
</div>
