<mat-spinner *ngIf="!isReady" class="col-md-2 col-md-offset-5 spinnerVerticalCenter"></mat-spinner>

<div class="row col-md-5 col-md-offset-4" style="margin-top: 50px">
  <p *ngIf="isAuth && isReady && loggedJoueur"><em>Vous êtes déjà connecté avec le compte {{loggedJoueur.email}}</em> <br /> <button class="btn btn-danger col-md-4 col-md-offset-3" style="margin-top: 10px" (click)="unLog()">
    Se déconnecter
  </button> </p>
</div>


<div *ngIf="!isAuth && isReady && !loggedJoueur" class="col-md-4 col-md-offset-4 formVerticalCenter">
    <alert *ngIf="joueurNotFound" type="danger">
        <strong>Erreur</strong> Email ou mot de passe incorrect
      </alert>
  <form [formGroup]="joueurForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" class="form-control" id="Pseudo" formControlName="Email">
    </div>
    <div class="form-group">
      <label for="MotDePasse">Mot de passe</label>
      <input type="password" class="form-control" id="MotDePasse" formControlName="MotDePasse">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="joueurForm.invalid">Soumettre</button>
  </form>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Info</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Compte authentifié avec succès.
    </div>
  </ng-template>