<mat-spinner *ngIf="!isReady" class="col-md-2 col-md-offset-5 spinnerVerticalCenter"></mat-spinner>
<div class="container">
    <div *ngIf="isReady && !loggedJoueur">Vous devez être connecté pour faire une partie <a [routerLink]='["/login"]'>Se connecter</a></div>

    <div *ngIf="partieEnCours && isReady" class="row formVerticalCenter panel panel-default col-md-10 col-lg-9">
        <div class="row">
            <div class="col-md-4 col-md-offset-5 col-sm-4 col-sm-offset-5">
                Une partie en cours a été trouvée
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Donjon</th>
                    <th>Personnage</th>
                    <th>HP restants</th>
                    <th>Salles accomplies</th>
                    <th>Inventaire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{partieEnCours.nomDonjon}}</td>
                    <td>{{partieEnCours.nomPersonnage}}</td>
                    <td>{{partieEnCours.hpLeft}}</td>
                    <td>{{partieEnCours.nbrSalle}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="openModal(inventairePartieEnCours)">Items</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>        
        <div *ngIf="partieEnCours && isReady" class="row">
            <div class="col-md-10 col-md-offset-3">
                <button type="button" class="btn btn-primary" (click)="getPartieSauvegardee()" style="margin-right: 5px">Continuer cette partie</button>
                <button type="button" class="btn btn-primary" (click)="creeNouvellePartie()">Nouvelle partie</button>
            </div> 
        </div>
        <div *ngIf="partieEnCours && isReady" class="row" style="margin-top: 10px"><em>Attention, si vous commencez une nouvelle partie, celle en cours sera considérée comme terminée</em></div>
        
        
        <div *ngIf="!partieEnCours && !selectedPerso && isReady && loggedJoueur" class="row formVerticalCenter panel panel-default col-md-10 col-lg-9">
            <div class="col-md-4 col-md-offset-5">
                Selectionnez un personnage
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nom</th>
                        <th>Classe</th>
                        <th>Vitesse</th>
                        <th>Attaque</th>
                        <th>HP</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let perso of selectionPerso">
                        <td><img [src]="imgStringConstructor(perso.nomPersonnage)" class="img-responsive"></td>
                        <td>{{perso.nomPersonnage}}</td>
                        <td>{{perso.classe}}</td>
                        <td>{{perso.speedPerso}}</td>
                        <td>{{perso.atkPerso}}</td>
                        <td>{{perso.hpPerso}}</td>
                        <td>{{perso.descriptionPerso}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="setSelectedPerso(perso)">Valider
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div *ngIf="selectedPerso && selectionDonjon && isReady" class="row formVerticalCenter panel panel-default col-md-10 col-lg-9">
            <div class="col-md-4 col-md-offset-5">
                Selectionnez un donjon
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let donjon of selectionDonjon">
                        <td><img [src]="imgStringConstructor(donjon.nomDonjon)" class="img-responsive"></td>
                        <td>{{donjon.nomDonjon}}</td>
                        <td>{{donjon.descriptionDonjon}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="setSelectedDonjon(donjon)">Valider
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div *ngIf="selectedPerso && selectedDonjon" class="formVerticalCenter panel panel-default col-md-10 col-lg-9">
            <div class="row">
                <div class="col-md-2 col-md-offset-5 panel panel-default text-center">
                    {{currentRoom.nomSalle}}
                </div>
            </div>
            <div *ngIf="currentEnnemi">
                <div class="row text-center">
                    {{currentEnnemi.nomEnnemi}}
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 panel panel-default" style="padding-top: 10px">
                        <img [src]="imgStringConstructor(currentEnnemi.nomEnnemi)" class="img-responsive center-block">
                    </div>       
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="mb-2">
                            <progressbar [max]="currentEnnemi.pvEnnemi" [value]="currentEnnemiHP" type="success">
                                <span class="text-nowrap">{{currentEnnemiHP}} / {{currentEnnemi.pvEnnemi}}</span>
                            </progressbar>
                        </div>
                    </div>
                </div>
                <div *ngIf="currentEnnemiHP > 0" class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="mb-2">
                            <progressbar [max]="currentEnnemi.speedEnnemi" [value]="ennemiCountDown">
                                <span class="text-nowrap"></span>
                            </progressbar>
                        </div>
                    </div>
                </div>
                <div *ngIf="currentEnnemiHP == 0 && !lootOpened" class="row">
                    <div class="col-md-2 col-md-offset-5" style="padding-bottom: 10px">
                        <button type="button" class="btn btn-primary" (click)="openLoot()">Fouiller l'ennemi</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!currentEnnemi && !lootOpened" style="padding-bottom: 15px">
                <div class="row" style="margin-top: 100px" style="margin-bottom: 100px">
                    <div class="col-md-10">
                        Personne ici... vous pourriez en profiter pour jetter un oeil aux alentours
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <button type="button" class="btn btn-primary" (click)="openLoot()">Fouiller la salle</button>
                    </div>
                </div>
            </div>
            <div class="row panel panel-default" style="padding-top: 15px">
                <div class="col-md-2">
                    <img [src]="potraitStringConstructor(newGame.personnage.nomPersonnage)" class="img-responsive center-block">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            ATK
                        </div>
                        <div class="col-md-2">
                            SPEED
                        </div>
                        <div class="col-md-8">
                            <div class="mb-2">
                                <progressbar [max]="newGame.personnage.hpPerso" [value]="newGame.hpLeft" type="success">
                                    <span class="text-nowrap">{{newGame.hpLeft}} / {{newGame.personnage.hpPerso}}</span>
                                </progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{newGame.personnage.atkPerso}}
                        </div>
                        <div class="col-md-2">
                            {{newGame.personnage.speedPerso}}
                        </div>
                        <div *ngIf="currentEnnemi && currentEnnemiHP > 0" class="col-md-4">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-4">
                                    <button type="button" class="btn btn-danger" (click)="attaquer()" [disabled]="atkReady">Attaquer</button>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="mb-2" style="margin-top: 10px">
                                        <progressbar [max]="newGame.personnage.speedPerso" [value]="atkCountDown">
                                            <span class="text-nowrap"></span>
                                        </progressbar>
                                </div>
                            </div>  
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" (click)="openModal(inventaire)">Inventaire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(!currentEnnemi || currentEnnemiHP == 0) && (isReady && selectedDonjon && selectedPerso)" class="row">
            <div class="col-md-2 col-md-offset-5">
                <button type="button" class="btn btn-primary" (click)="generateRoom()">Salle suivante</button>
            </div>
        </div>
</div>


<ng-template #inventaire>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Inventaire</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul *ngIf="newGame.inventaire">
                <li *ngFor="let item of newGame.inventaire" [tooltip]="item.description">{{item.nomItem}}</li>
            </ul>
            <p *ngIf="!newGame.inventaire">Pas encore d'objets</p>
        </div>
</ng-template>

<ng-template #inventairePartieEnCours>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Inventaire</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ul *ngIf="partieEnCours.inventaire">
            <li *ngFor="let item of partieEnCours.inventaire" ><p [tooltip]="item.description">{{item.nomItem}}</p></li>
        </ul>
        <p *ngIf="!partieEnCours.inventaire">Pas encore d'objets</p>
    </div>
</ng-template>

<ng-template #noLoot>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Loot</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Vous ne trouvez rien d'intéressant</p>
        </div>
</ng-template>

<ng-template #Loot>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Loot</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Vous avez trouvé quelque chose !</p> <br>
            <p><em [tooltip]="currentItem.description">{{currentItem.nomItem}}</em></p>
            <button type="button" class="btn btn-default" (click)="confirmItem()" >Le rammasser</button>
            <button type="button" class="btn btn-primary" (click)="declineItem()" >Le laisser</button>
        </div>
</ng-template>